{% extends 'base.html' %} {% block title %}Ingresa nueva password{% endblock %} 
{% block content %} {% if validlink %}

<div class="cred">
  <h2>Ingresa nueva password!</h2>
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <div class="input"><input type="submit" value="Change my password" /></div>
  </form>
</div>
{% else %}

<p>
  El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha
  utilizado. Solicite un nuevo restablecimiento de contraseña.
</p>

{% endif %} {% endblock %}
